@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@400;500;600&display=swap');
body {
  font-family: 'Inter', sans-serif;
}

html,body{
  background-color: black;
  color: white;
}
.neon-text-cyan {
  color: #00ffff; 
}

.neon-text-purple {
  color: #9b4dca; 
}

.neon-text-green {
  color: #32cd32; 
}
.neon-text {
  background: linear-gradient(to right, #00ffff, #32cda1); 
  -webkit-background-clip: text; 
  color: transparent; 
  font-weight: bold;
}

h1, h2, h3, .space-grotesk {
  font-family: var(--font-space), sans-serif;
}